<form class="<%= form_class %>" action="<%= action_url %>" method="post">
  <input
    type="text"
    name="user[email]"
    placeholder="Email Address"
    value="">
  <input
    type="password"
    name="user[password]"
    placeholder="Password"
    value="">
  <button><%= button_text %></button>
</form>
