<div class="user-form-box">
  <div class="user-form-header">
  <h2>Create An Account</h2>
  <p>Create a free NYThyme's account to get started</p>
</div>
  <%= render '/layouts/user_form',
        action_url: users_url,
        button_text: "Create Account" %>
  <div class="user-form-footer">
    <p>
      Already have a NYThyme's account? <a href="<%= "new_session_url" %>">Log In</a>
    </p>
  </div>
</div>
