/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */
html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, h4, h5, h6, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;

  background: transparent;
}

/* CLEAR-FIX */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* SITE-WIDE STYLES */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #f2f3ef;
}

a {
  color: #e33d26;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}


/* HEADER */
.header {
  z-index: 20;
  background-color: white;
  text-transform: uppercase;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 55px 0 10px 0;
  transition: all 0.4s;
}

.header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0;
  transition: all 0.4s;
}

.header > a > h1 {
  color: #000;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3px;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Open Sans Condensed', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h1:hover {
  text-decoration: none;
}

.header > a > h1.sticky {
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3px;
}

.header > a > h1 > logo {
  font-family: 'Martel', 'Times New Roman', serif;
  font-weight: 800;
  text-transform: none;
  letter-spacing: -1px;
  padding-right: 5px;
}

logo:after {
  content: "New York Thyme's";
  font-size: 16px;
  letter-spacing: 0.1px;
  display: block;
}

logo.sticky:after {
  content: "nyt";
  font-size: 20px;
  vertical-align: middle;
  letter-spacing: 0;
  display: inline;
}

.header > a > h1 > span {
  display: block;
  transform: translateY(-45px);
  font-size: 60px;
  letter-spacing: 0;
}

.header > a > h1 > span.sticky {
  display: inline;
  font-size: 24px;
}

.header > a > h1 > span.sticky:before {
  content: "";
  position: absolute;
  height: 20px;
  transform: translateX(-3px) translateY(8.5px);
  border-left: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgba(255, 255, 255, .25);
}

.header-nav-left {
  float: left;
}

.header li {
  float: left;
  padding: 0 15px;
}

.header-nav-left > li:first-child {
  padding-left: 0;
  padding-right: 0;
}

.header-nav-link {
  margin-top: 17px;
  padding-bottom: 15px;
}

.header-nav-link:hover {
  cursor: pointer;
  border-bottom: 3px solid #000;
  padding-bottom: 12px;
}

.header-nav-link.sticky:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
  padding-bottom: 12px;
}

.header-nav-right {
  float: right;
  margin-right: 15px;
}

.fa-angle-double-right:before {
  font-weight: 700;
  padding-left: 5px;
}

.sidebar-button {
  transform: translateX(-8px);
  transition: all 0.2s;
}

.fa-angle-double-right.button-icon {
  color: #fff;
  background-color: #e33d26;
  border-color: #e33d26;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sidebar-button:hover > .fa-angle-double-right.button-icon {
  background-color: #e33d26;
  border-color: #e33d26;
}

.fa-angle-double-right.button-icon.sticky {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, .25);
}

.sidebar-button:hover {
  transform: translateX(0);
  transition: all 0.2s;
}

.header-nav-button {
  margin-top: 8px;
}

.button-icon {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, .25);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: border 0.2s, background-color 0.2s;
  border-radius: 2px;
}

.header-nav-button:hover {
  cursor: pointer;
}

.header-nav-button:hover .button-icon {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.header-nav-button.sticky:hover .button-icon {
  background-color: #e33d26;
  border-color: #e33d26;
  transition: all 0.2s;
}

.search-button-text {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
}

.search-icon {
  margin-right: 10px;
}

.login-button {
  font-size: 11.5px;
  padding-bottom: 6px;
  padding-top: 6px;
}

/* SIGN IN / SIGN UP FORMS */
.modal.active {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.user-form-modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-left: -237px;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 475px;
  padding: 30px;
  border-radius: 3px;
  background-color: #f2f3ef;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 22px;
  font-weight: 300;
  color: #888;
  padding: 4px;
  cursor: pointer;
}

.user-form-header {
  text-align: center;
}

.user-form-header > h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 12px 0 5px 0;
}

.user-form {
  margin: 25px 0;
}

.user-form > input {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  padding: 10px;
}

.user-form > button {
  display: block;
  margin: 20px auto;
  padding: 17px 40px;
  background-color: #e33d26;
  border-radius: 5px;
  color: #fff;
}

.user-form > button:hover {
  background-color: #be1e08;
}

.user-form-footer {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.user-form-footer .footer-link {
  color: #e33d26;
  cursor: pointer;
}

.user-form-footer .footer-link:hover {
  text-decoration: underline;
}

/* RECIPES INDEX */
.recipes-index-list {
  width: 1000px;
  margin: auto;
}

/* RECIPE INDEX ITEM */
.recipe-index-item {
  float: left;
  width: 228px;
  height: 275px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  position: relative;
  margin: 15px 10px;
}

.recipe-index-item > a {
  color: #000;
}

.recipe-index-item > a:hover {
  text-decoration: none;
}

.recipe-index-item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

.recipe-index-item-image {
  height: 158px;
}

.recipe-index-item-info {
  padding: 15px;
}

.recipe-index-item-info > h3 {
  font-size: 16px;
  font-weight: 700;
}

.recipe-index-item-info > h4 {
  margin-top: 3px;
  font-size: 12px;
  color: #333;
}

.recipe-index-item-info > p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 10px;
  color: #b3b3b3;
}

/* RECIPE DETAIL */
.recipe-show {
  width: 960px;
  margin: 20px auto;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.recipe-top-details > h2 {
  font-family: georgia;
  font-size: 40px;
  text-align: center;
}

.recipe-top-details > .basic-recipe-info {
  margin: 20px auto 30px auto;
  width: 100%;
  text-align: center;
}

.basic-recipe-info > h3 {
  display: inline;
  font-size: 11.5px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 14px;
  border-right: 1px solid #cccccc;
}

.basic-recipe-info > p {
  display: inline;
}

.recipe-detail-more-info {
  font-size: 14px;
}

.fa-clock-o:before {
  margin: 0 6px 0 14px;
  color: #e33d26;
}

.fa-user:before {
  margin: 0 6px 0 14px;
  color: #e33d26;
}

.recipe-description {
  max-width: 570px;
  margin: auto;
  font-family: georgia;
  font-size: 17px;
  line-height: 1.3;
  text-align: justify;
}

section.recipe-top-details {
  padding: 35px 0px 42px 0;
  border-bottom: 2px solid #000;
}

section.recipe-middle-details {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

section.recipe-directions {
  margin-top: 20px;
}

section.recipe-ingredients {
  width: 300px;
  float: left;
}

section.recipe-steps {
  width: 600px;
  float: right;
}

section.recipe-directions h4 {
  margin-bottom: 30px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

ul.ingredients-list {
  font-size: 13.5px;
  font-weight: 700;
}

span.ingredient-quantity {
  display: inline-block;
  width: 100px;
  text-align: right;
}

span.ingredient-name {
  display: inline-block;
  width: 193px;
  margin-left: 7px;
}

li.ingredient {
  margin-bottom: 15px;
}

ul.preparation-steps-list {
  font-size: 18px;
}

span.step-number {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

p.step-body {
  line-height: 1.5;
  margin-bottom: 30px;
}
