/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */
html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, h4, h5, h6, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;

  background: transparent;
}

/* CLEAR-FIX */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* SITE-WIDE STYLES */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #f2f3ef;
}

a {
  color: #e33d26;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

logo {
  font-family: 'UnifrakturMaguntia', cursive;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.header-nav-left {
  float: left;
}

.header li {
  float: left;
  padding: 17px 15px 0 15px;
  text-transform: uppercase;
}

.header-nav-left > li:first-child {
  padding-left: 0;
  margin: -7px 15px 0 -5px;
}


.header-nav-link {
  padding-bottom: 15px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;
}

.header-nav-link:hover {
  cursor: pointer;
  border-bottom: 4px solid #fff;
  padding-bottom: 13px;
}

.cookbook-header-text {
  position: absolute;
  left: 50%;
}

.header-nav-right {
  float: right;
  margin-right: 15px;
}

.fa-angle-double-right {
  font-size: 18px;
  font-weight: 700;
}

.header-nav-button {
  transform: translateY(-7px);
}

.button-icon {
  padding: 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, .25);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 2px;
}

.search {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
}

.header-search-icon {
  margin-right: 10px;
  color: white;
}

/* SIGN IN / SIGN UP FORMS */
.modal.active {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.user-form-modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-left: -237px;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 475px;
  padding: 30px;
  border-radius: 3px;
  background-color: #f2f3ef;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.04);
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 22px;
  font-weight: 300;
  color: #888;
  padding: 4px;
  cursor: pointer;
}

.user-form-header {
  text-align: center;
}

.user-form-header > h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 12px 0 5px 0;
}

.user-form {
  margin: 25px 0;
}

.user-form > input {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  padding: 10px;
}

.user-form > button {
  display: block;
  margin: 20px auto;
  padding: 17px 40px;
  background-color: #e33d26;
  border-radius: 5px;
  color: #fff;
}

.user-form > button:hover {
  background-color: #be1e08;
}

.user-form-footer {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.user-form-footer .footer-link {
  color: #e33d26;
  cursor: pointer;
}

.user-form-footer .footer-link:hover {
  text-decoration: underline;
}

/* RECIPES INDEX */
.recipes-index-list {
  width: 1000px;
  margin: auto;
}

/* RECIPE INDEX ITEM */
.recipe-index-item {
  float: left;
  width: 228px;
  height: 275px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  position: relative;
  margin: 15px 10px;
}

.recipe-index-item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

.recipe-index-item-image {
  height: 158px;
}

.recipe-index-item-info {
  padding: 15px;
}

.recipe-index-item-info > h3 {
  font-size: 16px;
  font-weight: 700;
}

.recipe-index-item-info > h4 {
  margin-top: 3px;
  font-size: 12px;
  color: #333;
}

.recipe-index-item-info > p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 10px;
  color: #b3b3b3;
}
