<form class="user-form" action="<%= action_url %>" method="post">
  <%= auth_token %>
  <input
    type="text"
    name="user[email]"
    placeholder="Email Address"
    value="">
  <input
    type="password"
    name="user[password]"
    placeholder="Password"
    value="">
  <button><%= button_text %></button>
</form>
